<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <!--<httpRuntime targetFramework="4.6.2" />-->
    <httpRuntime targetFramework="4.6.2" 
		    executionTimeout="36000" maxRequestLength="4096" 
		    useFullyQualifiedRedirectUrl="false" minFreeThreads="8" 
		    minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
  <appSettings>
    <add key="archos.ruta" value="C:\convertidor\jats\" />
    <add key="site.url" value="http://converter.escire.mx/jats/convert.aspx?" />
    <add key="site.temporal" value="C:\convertidor\jats\" />
    <add key="site.temporal.formulas" value="C:\convertidor\formulas" />
    <add key="wayta.url.institution" value="http://wayta.scielo.org/api/v1/institution?q=" />
  
    <add key="sinonimos.palabrasclave" value="Palabras clave:|Palabras claves:|Palabra clave:" />
    <add key="sinonimos.keywords" value="Key words:|Keywords:|Palavras chave:|Palavras-chave:|Palavraschave:" />
    <add key="sinonimos.listaDefinicion" value="Glosario|Glossário|Glossary|Abreviaturas|Abbreviations" />
    <add key="sinonimos.resumen" value="Resumen:|Resumen" />
    <add key="sinonimos.abstract" value="Abstract:|Abstract|Resumo:|Resumo|Resumen:" />
    <add key="sinonimos.fechaRecibido" value="received:|recibido:|recepción:|received|received|recepción" />
    <add key="sinonimos.fechaRevisado" value="revisado:|reviewed:|reviewed:|revisado|reviewed|reviewed" />
    <add key="sinonimos.fechaAceptado" value="aceptado:|accepted:|aceptación:|aceptado|accepted|aceptación" />
    <add key="sinonimos.conflictos" value="conflicto de intereses|conflicto de interes|conflicto" />
    <add key="sinonimos.agradecimientos" value="acknowledgements|acknowledgments|reconocimiento|agradecimiento" />
    <add key="sinonimos.referencias" value="bibliografía|referencias|referencia|bibliografia|references|siglas y referencias" />
    <add key="sinonimos.imagen" value="imagen|imágen|diagrama|figura|mapa|cuadro|diagrama|diagram|image|figure|map|diagram"/>
    <add key="sinonimos.tabla" value="table|tabla" />
    
    <add key="media.video" value="mp4|avi|mpeg|flv|mov" />
    <add key="media.audio" value="mp3|wav|m4p|m4a|aiff" />
    <add key="media.animaciones" value="swf|gif|fla" />
    <add key="media.application" value="pdf|jar|pl|rdf|tar|tar.gz|zip" />
  
    <add key="error.1" value="No se encuentra archivo a convertir" />
    <add key="error.2" value="Error al procesar Documento Word" />
    <add key="error.3" value="No se encuentra tabla de metadatos de la tesis" />
    <add key="error.4" value="La tabla de metadatos no tiene el formato correcto" />
    <add key="error.5" value="" />
    <add key="error.6" value="" />
    <add key="error.7" value="" />
    <add key="error.8" value="" />
    <add key="error.9" value="" />
    <add key="error.10" value="" />
    <add key="error.11" value="" />
    <add key="error.12" value="" />
    <add key="error.13" value="" />
    <add key="error.14" value="" />
    <add key="error.15" value="" />

  </appSettings>
</configuration>